body{

    background-image: url("papeldeparede.jpg");

   }

header{

        display: block;
        margin-left: 70px;
        margin-right: auto;
        width: 50%;

}

h1{
   
    text-align: center;
    font-size: xx-large;
    font-family: Arial, Helvetica, sans-serif

}

h1 span{

    background-color:#57cac3;
    color: white;

}

h2{

    text-align: center;
    font-size: xx-large;
    font-family: Arial, Helvetica, sans-serif

}

h2 span{

    background-color:#57cac3;
    color: white;

}

h3{

    margin-right: 383px;
    text-align: center;
    font-size: xx-large;
    font-family: Arial, Helvetica, sans-serif

}

h3 span{

    background-color:#57cac3;
    color: white;

}

h4{

    
    text-align: center;
    font-size: xx-large;
    font-family: Arial, Helvetica, sans-serif

}
h4 span{

    background-color:#57cac3;
    color: white;

}

h5{

    text-align: center;
    font-size: xx-large;
    font-family: Arial, Helvetica, sans-serif

}

h5 span{

    background-color:#57cac3;
    color: white;

}

h6{

    text-align: center;
    font-size: xx-large;
    font-family: Arial, Helvetica, sans-serif

}

h6 span{

background-color:#57cac3;
color: white;

}

.enviar{

    margin-left: 140px;

}



.container{

    text-align: center;

}

.mapinha{

    display: block;
    margin-left: 383px;

}

label{

    width: 240px;
    display:inline-block;

}
   
table{
   
    text-align: center;
    border:1px;
    border-color: black;

}

form{
    
    text-align: justify;
    margin-left: 500px;
    


}


